<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="" style="color: blue;">Adwaso <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_basket</mat-icon>
  </button></a>
  <button mat-raised-button color="primary">Add Grocery</button>

  
</nav>
<div class="alert alert-info" role="alert">
  Hello! there Welcome back to Adwaso
</div><br><br>
<div class="container-fluid">
    <router-outlet></router-outlet>  
</div>



