<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="" style="text-decoration: none; color: white;">Adwaso</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_basket</mat-icon>
    </button>
</mat-toolbar>
<div class="alert alert-info" role="alert">
  Hello! there Welcome back to Adwaso
</div><br><br>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>


